nav > ul > li {
    display: inline;
    
}
nav li a{
    text-decoration: none;
    margin: 60px;
    font-size: 30px;
}
.he{
    background-color: aqua;
    border-radius: 20px;
}
nav{
    text-align: center;
}
footer{
    text-align: center;
    text-decoration: underline;
}
#trip{
    text-align: center;
    font-size: 24px;
}
figure{
    text-align: center;
    font-size: 20px;
}
.sec{
    background-color: azure;
    margin: 15px;
    word-spacing: 5px;
    line-height: 2em;
    font-size: 20px;
    
}
label{
    display: block;
    margin: 10px;
}
.Blog{
    margin: 20px;
    padding-left: 100px;
    padding-right: 500px;
    background-color: aquamarine;
    background-size: initial;}
#blogs{
    text-align: center;
    font-size: 30px;
    background-color: bisque;
}